data/
raw_data/
.DS_Store
testing/ 

dataset/model/part/makesets_commonmotif.e43845809
dataset/model/part/makesets_commonmotif.o43845809

dataset/model/partition/old3

dataset/

mst_clustering/

unsupervised_clustering/

data_exploration/


model/*.py
model/*.err
model/*.log
model/*.out
model/*.sh
model/hobohm/
model/9mer_1090/
model/9mer_5050/
model/9mer_all/
model/bash_log_err/
model/bash_scripts/
model/checkpoint/
model/contig/
model/output/
model/positional_encoding/
model/plot/
model/hyperparameter_tuning/
model/partition_data/
model/cross_validation/*.err
model/cross_validation/*.log
model/cross_validation/*.out
model/cross_validation/*.py
model/cross_validation/*.sh
model/cross_validation/checkpoint/
model/cross_validation/nested/

model/cross_validation/hp_nested_cv/*.py
model/cross_validation/hp_nested_cv/*.sh
model/cross_validation/hp_nested_cv/*.err
model/cross_validation/hp_nested_cv/*.log
model/cross_validation/hp_nested_cv/inner/
model/cross_validation/hp_nested_cv/checkpoint/
model/cross_validation/hp_nested_cv/err_log/
model/cross_validation/hp_nested_cv/outer_checkpoint/
model/cross_validation/hp_nested_cv/outer_checkpoint_32/
model/cross_validation/hp_nested_cv/plot_outer/
model/cross_validation/hp_nested_cv/plot_outer_32/
model/cross_validation/hp_nested_cv/outer/
model/cross_validation/hp_nested_cv/outer0/
model/cross_validation/hp_nested_cv/outer1/
model/cross_validation/hp_nested_cv/outer2/
model/cross_validation/hp_nested_cv/outer3/
model/cross_validation/hp_nested_cv/outer4/
model/cross_validation/hp_nested_cv/out/


model/cross_validation/shuffle_core/plot_outer_32/
model/cross_validation/shuffle_core/err_log/
model/cross_validation/shuffle_core/peptide_out_32/
model/cross_validation/shuffle_core/outer_checkpoint_32/
model/cross_validation/shuffle_core/outer/
model/cross_validation/shuffle_core/outer0/
model/cross_validation/shuffle_core/outer1/
model/cross_validation/shuffle_core/outer2/
model/cross_validation/shuffle_core/outer3/
model/cross_validation/shuffle_core/outer4/

model/cross_validation/more_neurons/
model/cross_validation/partition
model/cross_validation/partition_004
model/cross_validation/peptide_out
model/cross_validation/plot
model/cross_validation/random


netmhcpan/bash_scripts/
netmhcpan/out/

plot/
test*
temp*


blast/

submit*


